.root {
    -fx-background-color: #0a0e27;
    -fx-font-family: "Segoe UI";
}

/*--------------------------------------------------------- */
#slider2 .track {
    -fx-background-color: #EF6400;
}

#slider2 .thumb {
    -fx-background-color: white;
}
/*--------------------------------------------------------- */

#button2 {
    -fx-background-color: #EF6400;
    -fx-text-fill: white;
}

/*--------------------------------------------------------- */
#progressBar .track {
    -fx-background-color: #333333;
}

#progressBar .bar {
    -fx-background-color: #EF6400;
}

/*--------------------------------------------------------- */
#toggleButton{
    -fx-background-color: #c25100;
}

#toggleButton:selected{
    -fx-background-color: #EF6400;
    -fx-text-fill: white;
}

#generateRandomPlanet{
    -fx-fill-width: #EF6400FF;
}

#progressIndicator{

}

#choiceBox{
    -fx-fill: #EF6400FF;
}

#stackedAreaChart{
    -fx-fill: #EF6400FF;
}

#urlLabel{
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#hyperLink{
    -fx-text-fill: #20bfff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}


#planetNameDisplay {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#hostStarNameDisplay{
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#planetNameLabel{
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#hoststarlabel{
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#scatterChart{
    -fx-background-color: grey;
}

#splitpaneLeft{
    -fx-background-color: grey;
}